<footer class="footer-bg text-white py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <img src="img/map.png" width="400" alt="" />
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4 class="h6 opacity-75">
          <a class="text-white text-primary-hover text-decoration-none" href="/about.html">ПРО НАС</a>
        </h4>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4 class="h6 opacity-75">
          <a class="text-white text-primary-hover text-decoration-none" href="/donate.html">ПІДТРИМАТИ</a>
        </h4>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4 class="h6 opacity-75">ДОПОМОГА</h4>
        <ul class="list-unstyled small opacity-75">
          <li>Скрипника 67</li>
          <li><a class="text-white text-primary-hover" href="tel:+380987071750">+38 (098) 70 71 750</a></li>
          <li><a class="text-white text-primary-hover" href="tel:+380972506338">+38 (097) 25 06 338</a></li>
        </ul>
      </div>
    </div>

    <hr class="opacity-25 my-4" />

    <div class="text-center small opacity-75">
      <p class="mb-0">Copyright 2025 Capernaum KP</p>
    </div>
  </div>
</footer>
