<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 navbar-bg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="/">
        <img width="50" src="img/logo-removebg.png" alt="" />
        Capernaum KP
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-uppercase fw-bold">
          <li class="nav-item"><a class="nav-link px-4" href="/about.html">ПРО НАС</a></li>
          <li class="nav-item"><a class="nav-link px-4" href="/#projects">КАТАЛОГ</a></li>
          <li class="nav-item"><a class="nav-link px-4" href="/#news">НОВИНИ</a></li>
        </ul>
        <a href="/donate.html" class="btn btn-magenta shadow text-white">ПІДТРИМАТИ</a>
      </div>
    </div>
  </nav>
</header>
