<p>Відкритий спортивний клуб в інклюзивному університеті.</p>
<p>
  Ми провели відкриті заходи в інклюзивному університеті. Було надзвичайно приємно бачити, як люди з інвалідністю
  радіють, спілкуються та знаходять нових друзів у теплій та підтримуючій атмосфері.
</p>
<p></p>
<p class="text-secondary">Місце проведення: інклюзивний університет.</p>
<h5 class="text-orange">Особливості заходу.</h5>
<ul>
  <li>Відкриті спортивні активності для всіх</li>
  <li>Нові знайомства та дружба</li>
  <li>Інклюзивне та доброзичливе середовище</li>
</ul>
