<p>Нові учасники з університету приєдналися до наших спортивних клубів.</p>
<p>
  Ми раді вітати нових членів з університету в наших спортивних клубах. Вони із задоволенням стали частиною нашої
  спільноти та привнесли нову енергію та позитив у наші тренування.
</p>
<p></p>
<p class="text-secondary">Джерело: університет.</p>
<h5 class="text-orange">Що чекає на нових учасників.</h5>
<ul>
  <li>Дружня та підтримуюча спільнота</li>
  <li>Адаптовані спортивні тренування</li>
  <li>Нові знайомства та спільний розвиток</li>
</ul>
