<p>Табір для підлітків з інвалідністю з Хмельницької області.</p>
<p>
  Літо - це час нових вражень, друзів та пригод! Цього року ми організували незабутній літній табір для підлітків з
  інвалідністю з Хмельницької області. Протягом тижня учасники мали змогу насолоджуватися різноманітними активностями,
  розвивати свої навички та просто весело проводити час.
</p>
<p></p>
<p class="text-secondary">Учасники: 50-60 підлітків.</p>
<h5 class="text-orange">Активності.</h5>
<ul>
  <li>Конкурси та ігри</li>
  <li>Творчі вечори</li>
  <li>Спортивні змагання</li>
</ul>
