<p>
  Раз на місяць ми збираємося в нашому центрі, щоб творити. Тут немає оцінок, критики чи домашніх завдань - тільки
  свобода та гарні емоції.
</p>
<p>
  Ми проводимо різноманітні майстер-класи, де кожен може відкрити в собі талант. Часто вечори закінчуються піснями під
  гітару, чаюванням та щирими розмовами.
</p>
<h5 class="text-orange">Чим ми займаємось:</h5>
<ul>
  <li>Арт-терапія та малювання</li>
  <li>Ліпка з глини та створення свічок</li>
  <li>Вечори настільних ігор</li>
  <li>Музичні джеми та кіноперегляди</li>
</ul>
