<p>Наші тренування проходять у спеціалізованому залі Archangel.</p>
<p>Кожне тренування - це не лише спорт, а й командна взаємодія.</p>
<h5 class="text-orange">Що ми робимо:</h5>
<ul>
  <li>Функціональні тренування</li>
  <li>Елементи Тайландського боксу</li>
  <li>Робота з м'ячами та резинками</li>
  <li>Естафети та командні ігри</li>
</ul>
