<p>Вихід із зони комфорту - це найкращий спосіб рости. Ми організовуємо як одноденні поїздки на природу.</p>
<p>
  У походах ми вчимося жити без гаджетів, розпалювати багаття, ставити намети та готувати їжу. Це формує навички
  самостійності, які критично важливі для дорослого життя.
</p>
<h5 class="text-orange">Наші пригоди:</h5>
<ul>
  <li>Джуринський водоспад (Тернопіль)</li>
  <li>Лісова пісня</li>
  <li>Прогулянки Смотрицьким каньйоном</li>
</ul>
